coverage
falcon>=2.0
falcon-auth
jyquickhelper
keyring
memory_profiler
git+https://github.com/sdpython/nbconvert.git@fixes
Pillow
psutil
PyJWT
pyquickhelper>=1.9.3240
scikit-image
scikit-learn
scipy
sphinx
sphinx_readable_theme
ujson
waitress
wheel
