coverage
falcon
falcon-auth
jyquickhelper
keyring
memory_profiler
Pillow
psutil
PyJWT
pyquickhelper>=1.8.2814
scikit-image
scikit-learn
scipy
sphinx_modern_theme
tornado
ujson
waitress
wheel
