autopep8
coverage
falcon>=2.0
falcon-auth
jupyter_sphinx
jyquickhelper
keyring
memory_profiler
msgpack_numpy
nbconvert>=6.0.2
pandas
Pillow
psutil
pycodestyle
PyJWT
pylint
pyquickhelper>=1.10
pyquicksetup
scikit-image
scikit-learn
scipy
sphinx
sphinx_gallery 
sphinxcontrib-imagesvg
ujson
waitress
wheel
